@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/* * {
  margin: 0;
  padding: 0;
} */

html {
  height: 100%;
}

.content {
  width: 1200px;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #242424;
  background-color: #f2f2f2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  margin: 0;
}

.header-logo {
  position: absolute;
  top: 0;
  width: 139px;
  margin-right: 47px;
  margin-left: 30px;
  /* padding-left: 70px; */
  z-index: 1;
  height: 70px;
}

.navigation {
  display: flex;
  flex-direction: column;
  min-height: 65px;
  margin: 0;
  background-color: #ffffff;
}

.wrapper {
  width: 390px;
  margin: 0 auto;
  padding: 0 0;
  margin-left: 239px;
  background-color: #ffffff;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 390px;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #ffffff;
}

.navigation-item {
  position: relative;
}

.nav__link {
  position: relative;
  display: block;
  padding: 20px 19px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: capitalize;
}

.nav__link__current::before {
  position: absolute;
  width: 68px;
  height: 2px;
  left: 256px;
  top: 65px;
  background-color: #756257;
  content: "";
}

.user-menu-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 263.87px;
  margin-left: auto;
  list-style: none;
}

.user-menu-link {
  min-width: 130px;
  min-height: 20px;
}

.likes {
  position: absolute;
  background: #7db54f;
  border-radius: 10px;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  color: #ffffff;
  letter-spacing: -0.1em;
  margin-top: 15px;
  padding: 3px 5px;
}

.nav__link__want {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  padding: 9px 15px 8px;
  border-radius: 4px;
  cursor: pointer;
}

.main-container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  color: #000000;
  background-color: #f2f2f2;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.welcome-image {
  background-position: center 100%;
  background-image: url("../images/divider.png"),
    url("../images/index-background.jpg");
  background-color: #000000;
  width: 1200px;
  height: 485px;
  background-size: 100% auto, 100% auto;
  background-repeat: no-repeat, no-repeat;
  background-color: #68a2ca;
}

.welcome-logo {
  display: block;
  margin: 0 auto;
  padding: 51px 371px 82px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "PT Sans", sans-serif;
  background-color: #ffffff;
  background-image: url("../images/background-main.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  min-height: 282px;
}

.main-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-top: 63px;
  margin-bottom: 0;
}

.main-description {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin-top: 30px;
  margin-bottom: 0;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-item-first {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 400px;
  min-height: 384px;
  padding-right: 800px;
  background-color: #81b3d2;
}

.advantages-title {
  margin-top: 92px;
  margin-bottom: 30px;
  /* margin-top: 160px;
  margin-bottom: 0; */
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
}

.advantages-description-short {
  display: flex;
  justify-content: space-between;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  background-color: #82b3d3;
}

.advantages-description {
  display: block;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  background-color: #82b3d3;
}

.advantages-item-first::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 800px;
  min-height: 384px;
  background-image: url(../images/photo-1.jpg);
  background-repeat: no-repeat;
  background-position: 100% 50%;
  content: "";
}

.advantages-card-item-house {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 400px;
  min-height: 384px;
  background-color: aliceblue;
}

.advantages-card-item-food {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 400px;
  min-height: 384px;
  background-color: #ffffff;
}

.advantages-card-item-presents {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 400px;
  min-height: 384px;
  background-color: aliceblue;
}

.advantages-card-title {
  font-family: "PT Sans", sans-serif;
  width: 240px;
  margin-top: 182px;
  /* margin-bottom: 30px; */
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.advantages-card-description {
  margin-bottom: 81px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.advantages-card-item-house .house::before {
  position: absolute;
  top: 80px;
  left: 163px;
  width: 75px;
  height: 72px;
  background-image: url(../images/house-icon.svg);
  background-repeat: no-repeat;
  content: "";
}

.advantages-card-item-food .food::before {
  position: absolute;
  top: 81px;
  left: 163px;
  width: 74px;
  height: 70px;
  background-image: url(../images/food-icon.svg);
  background-repeat: no-repeat;
  content: "";
}

.advantages-card-item-presents .presents::before {
  position: absolute;
  top: 79px;
  left: 168px;
  width: 64px;
  height: 76px;
  background-image: url(../images/presents-icon.svg);
  background-repeat: no-repeat;
  content: "";
}

.advantages-item-second {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 400px;
  min-height: 384px;
  padding-left: 800px;
  background-color: #81b3d2;
}

.advantages-item-second::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 800px;
  min-height: 384px;
  background-image: url(../images/photo-2.jpg);
  background-repeat: no-repeat;
  background-position: 100% 50%;
  content: "";
}

.advantages-card-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  min-height: 384px;
  background-color: aliceblue;
}

.advantages-card-road {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  min-height: 384px;
  /* background-color: aliceblue; */
}

.advantages-card-tourist {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  min-height: 384px;
  background-color: aliceblue;
}

.advantages-card-title-second {
  margin-top: 103px;
  margin-bottom: 30px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.advantages-card-description-short-second {
  display: flex;
  justify-content: space-between;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #000000;
}
.advantages-card-description-second {
  /* margin-bottom: 102px; */
  display: block;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #000000;
}

.interesting {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 417px;
  background-image: url("../images/interesting.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  margin: 0;
}

.interesting-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  width: 297px;
  margin-top: 91px;
  margin-bottom: 0;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
}

.interesting-description {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  background-color: #ffffff;
  width: 592px;
  margin-top: 29px;
  margin-bottom: 0;
}

.interesting-link {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  padding: 12px 15px;
  border-radius: 4px;
  cursor: pointer;
  width: 574px;
  margin-top: 56px;
  margin-bottom: 93px;
}

.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 411px;
  font-family: "PT Sans", sans-serif;
  color: #ffffff;
  text-align: center;
  background-image: url("../images/background-subscribe-main.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin: 0;
}

.newsletter-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  width: 404px;
  margin-top: 94px;
  margin-bottom: 0;
}

.newsletter-description {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  width: 475px;
  margin-top: 29px;
  margin-bottom: 0;
}

.field {
  font-family: inherit;
  width: 600px;
  height: 60px;
  color: #000000;
  border-radius: 10px 0px 0px 10px;
  border: none;
  background-color: #f2f2f2;
  margin-top: 46px;
  margin-bottom: 94px;
}

.field::placeholder {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #f2f2f2;
}

.placeholder {
  display: block;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #f2f2f2;
}

.button-newsletter-button {
  font-family: inherit;
  font-style: bold;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-color: #82b3d3;
  color: #ffffff;
  background-color: #82b3d3;
  border-radius: 0px 10px 10px 0px;
  width: 200px;
  height: 60px;
  padding: 12px 15px;
  cursor: pointer;
  margin-top: 46px;
  margin-bottom: 94px;
}

.footer {
  color: #000000;
  background-color: #ffffff;
  /* position: absolute; */
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  height: 120px;
  min-height: 120px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  margin-top: 45px;
  margin-bottom: 35px;
  width: 142px;
  margin-left: 70px;
  padding: 0;
  list-style: none;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 47px;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
}

/* .footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
  padding: 45px 0;
} */

.contacts {
  font-family: "PT Sans", sans-serif;
  font-size: 40px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  /* padding: 45px 420.5px 35px 448.5px; */
}

.logo {
  display: flex;
  align-items: center;
  width: 115px;
  margin-right: 70px;
  margin-left: 88px;
}

.contacts:hover {
  color: #756157;
}

.contacts:focus {
  color: #756157;
}

.contacts:active {
  color: rgba(117, 97, 87, 0.3);
}

/* .footer-social-item {
  width: 24px;
  height: 17px;
  margin-right: 28px;
  margin-bottom: 48px;
} */

/* .footer-social-yt {
  background-image: url(images/social-youtube.svg);
} */

/* .social-icon:hover {
  background: #68a2ca;
}

.social-icon:focus {
  background: #68a2ca;
}

.social-icon:active {
  background-color: rgba(104, 162, 202, 0.3);
} */

/* .footer-social-tg:hover {
  background-color: #68a2ca;
} */

/* .footer-logo {
  display: block;
  color: #000000;
} */
/*
.footer-logo:hover {
  color: #756157;
} */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 62px;
  background-color: #ffffff;
}

.modal-auth {
  width: 360px;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 0;
  right: 0;
  width: 53px;
  height: 53px;
  background-color: #f2f2f2;
  background-image: url("../images/modal-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-tittle {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.main-inner {
  padding-top: 40px;
  color: #000000;
  background-color: #ffffff;
  background-image: url("../images/background-catalog.png");
  background-repeat: no-repeat;
}

.inner-container {
  margin: 0 auto;
  background-color: #ffffff;
  color: #000000;
  background-image: url("../images/background-catalog.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.inner-header-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}

.breadcrumbs {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-image: url(../images/breadcrumbs.svg);
  background-repeat: no-repeat;
}

.breadcrumbs:hover {
  color: rgba(255, 255, 255, 0.6);
}
.breadcrumbs:focus {
  color: #ffffff;
}

.breadcrumbs:active {
  color: rgba(255, 255, 255, 0.3);
}

.catalog-filter {
  display: grid;
  grid-template-columns: 150.43px 145.41px 287.81px 160.45px;
}

.catalog-filter-group-infra {
  display: flex;
  flex-direction: column;
  border: none;
}

.catalog-filter-group-type {
  display: flex;
  flex-direction: column;
  border: none;
}

.catalog-list {
  display: flex;
  list-style: none;
}

.catalog-filter-item {
  list-style: none;
  color: #ffffff;
}

.catalog-filter-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
}

.select.control {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}

.control-input {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}

/* .buttons {
  margin-bottom: 20px;
} */

.button-apply {
  display: inline-block;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #82b3d3;
  border-radius: 4px;
  border: none;
  padding: 14px 15px;
  cursor: pointer;
  width: 160px;
  height: 48px;
}

.button-apply:hover {
  background: #68a2ca;
}

.button-apply:focus {
  background: #68a2ca;
}

.button-apply:active {
  background: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.button {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  outline: none;
  border: 0;
  background: transparent;
  cursor: pointer;
  padding: 20px;
}

.catalog-search {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin: 57.46px 191px 60.6px 72px;
}

.catalog-right-column {
  display: flex;
}

/* сначала дешевые */
.sorting-container {
  display: flex;
  /* padding: 14px 129px 14px 20px; */
  color: #333333;
  background-color: #ffffff;
}

.sorting-type {
  margin-right: auto;
}

.select-control {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

/* вид */

.card-grid-toggle {
  width: 48px;
  height: 48px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #e5e5e5;
}

.card-grid-toggle:focus {
  border: 2px solid #000000;
  border-radius: 4px;
}

.card-grid-toggle:hover {
  border: 2px solid #68a2ca;
  border-radius: 4px;
}

/* .card-grid-toggle-current {
  border: 2px solid #000000;
} */

/* .card-grid-toggle-nocurrent {
  border: 2px solid #e5e5e5;
} */

.catalog-list {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  list-style: none;
  margin: 18px;
  margin-bottom: 66px;
  padding: 20px;
  gap: 16px;
}

.catalog-item {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.catalog-card-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  object-fit: cover;
}

.catalog-image {
  padding: 20px;
}

.catalog-title-link {
  font-family: "PT Sans", sans-serif;
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin-top: 16px;
  margin-bottom: 16px;
}

.catalog-card-place {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  list-style: none;
  margin-top: 16px;
  margin-bottom: 16px;
}

.catalog-card-price {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin-top: 16px;
  margin-bottom: 16px;
}

.catalog-card-button {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
  padding: 9px 15px 8px;
  border-radius: 4px;
  margin-top: 16px;
  margin-bottom: 16px;
  cursor: pointer;
}

.catalog-card-button:hover {
  background-color: #68a2ca;
}
.catalog-card-button:focus {
  background-color: #68a2ca;
}
.catalog-card-button:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.catalog-card-button-favourite {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #7db54f;
  padding: 9px 15px 8px;
  border-radius: 4px;
  margin-top: 16px;
  margin-bottom: 16px;
  cursor: pointer;
}

.catalog-card-button-favourite:hover {
  background-color: #6c9e42;
}
.catalog-card-button-favourite:focus {
  background-color: #6c9e42;
}
.catalog-card-button-favourite:active {
  background-color: #7db54f;
  color: rgba(255, 255, 255, 0.3);
}

.catalog-card-button-more {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  padding: 9px 15px 8px;
  border-radius: 4px;
  margin-top: 16px;
  margin-bottom: 16px;
  cursor: pointer;
}

.catalog-card-button-more:hover {
  background: #615048;
}

.catalog-card-button-more:focus {
  background: #615048;
}

.catalog-card-button-more:active {
  background: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.catalog-card-rating {
  padding: 9px 22px 8px 23px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #333333;
  background-color: #f2f2f2;
  border-radius: 4px;
  margin-top: 16px;
  margin-bottom: 28px;
}

.four-star {
  background-image: url(../images/starfour.svg);
  background-repeat: no-repeat;
  width: 300px;
  height: 37px;
}

.three-star {
  background-image: url(../images/starthree.svg);
  background-repeat: no-repeat;
  width: 300px;
  height: 37px;
}

.two-star {
  background-image: url(../images/startwo.svg);
  background-repeat: no-repeat;
  width: 300px;
  height: 37px;
}

.view {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.pagination-container {
  display: flex;
  padding: 30px;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link.pagination-current {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 23.45px 24.55px;
  line-height: 16px;
  font-family: inherit;
  font-weight: 700;
  color: #000000;
  background-color: #f2f2f2;
  text-decoration: none;
  border-radius: 4px;
}

.pagination-link.pagination-current:hover {
  background: #f2f2f2;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 23.45px 24.55px;
  line-height: 16px;
  font-family: inherit;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
  border-radius: 4px;
}

.pagination-link:hover {
  background-color: #68a2ca;
}

.pagination-link:focus {
  background-color: #68a2ca;
  border: 1px solid #82b3d3;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.newsletter-catalog {
  font-family: "PT Sans", sans-serif;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.newsletter-catalog-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.newsletter-catalog-description {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}

.field {
  font-family: inherit;
  width: 600px;
  height: 60px;
  color: #000000;
  border-radius: 10px 0px 0px 10px;
  border: none;
  background-color: #f2f2f2;
}

.field::placeholder {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin-left: 22px;
}

.button-newsletter-button {
  padding: 12px 15px;
  font-family: inherit;
  font-style: bold;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  border-color: #82b3d3;
  background-color: #82b3d3;
  border-radius: 0px 10px 10px 0px;
  width: 200px;
  height: 60px;
  cursor: pointer;
}
